<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <title>TarantulaFriendFinder · Phoenix Framework</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section>
        <nav role="navigation" class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
          <div class="container">
            <%= link("Tarantula Friend Finder", to: Routes.search_path(@conn, :index), class: "navbar-brand") %>
            <ul class="navbar-nav">
              <li class="navbar-item">
                <a class="nav-link" href="#">Link 1</a>
              </li>
              <li class="navbar-item">
                <a class="nav-link" href="#">Link 2</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <%= case current_user(@conn) do %>
              <% nil -> %>
                <li class="navbar-item">
                  <%= link("Sign In", to: Routes.auth_path(@conn, :login), class: "nav-link") %>
                </li>
                <li class="navbar-item">
                  <%= link("Register", to: Routes.user_path(@conn, :new), class: "nav-link") %>
                </li>
              <% user -> %>
                <div class="nav-item dropdown ml-auto">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    <%= user.username %>
                  </a>
                  <div class="dropdown-menu">
                    <%= link("Profile", to: Routes.user_path(@conn, :show, user.id), class: "dropdown-item") %>
                    <%= link("Manage", to: Routes.user_path(@conn, :edit), class: "dropdown-item") %>
                    <%= link("Sign Out", to: Routes.auth_path(@conn, :logout), class: "dropdown-item") %>
                  </div>
                </div>
            <% end %>          
            </ul>
          </div>
        </nav>
        <!--a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a-->
      </section>
    </header>
    <main role="main" class="container vh-100">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.run(@conn) %>
  </body>
</html>
