<h2>Sign In</h2>
<%= f = form_for @conn, Routes.auth_path(@conn, :authenticate), [class: form_class(@error_feedback), novalidate: true] %>
    <div class="form-group">
        <label for="username" class="col-form-label">Username</label>
        <% input = text_input f, :username, [class: input_class(@error_feedback)] %>
        <%= if @error_feedback != nil do %>
            <%= input %>
            <div class="invalid-feedback">
                <%= @error_feedback %>
            </div>
        <% else %>
            <%= input %>
        <% end %>
    </div>
    <div class="form-group">
        <label for="password" class="col-form-label">Password</label>
        <%= password_input f, :password, [class: input_class(@error_feedback)] %>
    </div>
    <div class="form-group">
        <div class="form-row text-center">
            <div class="col-sm">
                <%= submit "Submit", [class: "btn btn-block btn-primary"] %>
            </div>
            <div class="col-sm">
                <a href="#" class="btn btn-block btn-secondary" role="button">Forgot Password</a>
            </div>
        </div>
    </div>
</form>